{% extends 'base.html' %}

{% block title %}Task{% endblock %}

{% block menu %}
    {% if perms.webapp.add_task or project.author == request.user %}
        <a href="{% url 'task_add' %}">Добавить задачу</a>
    {% endif %}
    {% if perms.webapp.change_task or project.author == request.user %}
        <a href="{% url 'task_update' task.pk %}">Редактировать</a>
    {% endif %}
    {% if perms.webapp.delete_task or project.author == request.user %}
        <a href="{% url 'task_delete' task.pk %}">Удалить</a>
    {% endif %}
{% endblock %}
{% block content %}
    <div class="container">
        <h1>Задача</h1>
        <p>Заголовок: {{ task.summary }}</p>
        <p>Описание: {{ task.description }}</p>
        <p>Статус: {% for status in task.status.all %}{{ status.name }}<br>{% endfor %}</p>
        <p>Тип задачи:  {% for type in task.type.all %}{{ type.name }}<br>{% endfor %}</p>
        <p>Создано: {{ task.created_at }}</p>
        <p>Обновлено: {{ task.updated_at }}</p>
        <p>Проект: {{ task.project }}</p>
    </div>
{% endblock %}